img {
  width: 100%;
  display: block;
}

.col-md-7.box {
  min-height: 350px;
}

.icon {
  background-color: #fe4526;
  color: #fff;
  font-size: 25px;
}
.avatar-4 {
  width: 5%;
  border: solid #ffb86a;
}
#navbarSupportedContent a {
  color: #4a5565;
}
#navbarSupportedContent a:hover {
  color: #fe4526;
}
#main .row {
  align-items: stretch;
}
.box img  {
  height:700px ;
}

#id {
  background-color: #fffcea;
}

#main {
  margin-top: 100px;
  padding: 100px;
}

.fa-star {
  color: gold;
}

.icon-star {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  top: 5%;
  left: 50px;
}

.items {
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  bottom: 10px;
  right: 5%;
  padding: 20px;
}

.nav-item:focus {
  background-color: #fe4526 !important;
  color: #ffb86a !important;
}
